{{ if .Site.Data.play.enable}}
{{"<!-- Start Our Team -->" | safeHTML}}
<section id="play" class="section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInUp" data-wow-duration="1500ms">
                <h2>{{ with .Site.Data.play.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.play.headingSpan }} {{ . }} {{ end }}</span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="1000ms">
                <iframe src="https://open.spotify.com/embed/album/6AHcOFzobUtUpahC6JWahA" width="280" height="410" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="3000ms">
              <iframe src="https://open.spotify.com/embed/album/3gwNKINkjfIvGnYTko3HRR" width="280" height="410" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="2000ms">
              <iframe src="https://open.spotify.com/embed/album/4z8dKfH00t3h206rVH79gM" width="280" height="410" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="4000ms">
              <iframe src="https://open.spotify.com/embed/album/0t2J7TiyoXtsnIojnLJAZs" width="280" height="410" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}
