{{ if .Site.Data.play.enable}}
{{"<!-- Start Our Team -->" | safeHTML}}
<section id="play" class="section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInUp" data-wow-duration="1500ms">
                <h2>{{ with .Site.Data.play.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.play.headingSpan }} {{ . }} {{ end }}</span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            <div class="col-md-4 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="1500ms">
                <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=2294673210/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://joserockalcohol.bandcamp.com/album/letrazepam">Letrazepam by Jose Rockalcohol</a></iframe>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="1500ms">
              <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=2727809722/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://joserockalcohol.bandcamp.com/album/por-algo-ser">&quot;Por algo será...&quot; by Jose Rockalcohol</a></iframe>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12  wow fadeInDown" data-wow-duration="1500ms">
              <iframe style="border: 0; width: 350px; height: 786px;" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/23600846&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
        </div>
    </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}
